In [14]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

data= pd.read_csv("/content/Messy data set.csv")
data.head()

  ID     Name         Age              Email    JoinDate   Salary
0  1    Alice          25  alice@example.com  01-01-2020  50000.00
1  2      Bob          30    bob@example.com  not a date  60000.00
2  2      Bob          30    bob@example.com  01-02-2020  60000.00
3  4  Charlie    charlie@              43891  25-08-2091       NaN
4  5    David  Twenty-two              43922         NaN       NaN

In [15]:
#missing data
missing_data = data.isnull().sum()
print("Missing Data:")
missing_data

Missing Data:

ID          0
Name        0
Age         0
Email       0
JoinDate    1
 Salary     3
dtype: int64

In [22]:
#check data type
data.dtypes

ID          object
Name        object
Age         object
Email       object
JoinDate    object
 Salary     object
dtype: object

In [24]:
#unique values, inconsistant values
np.unique_values=data['Name'].unique()
np.unique_values

data=data[data["Name"]!='inconsistant_value']

In [30]:
#assigning data
data['Name']=data['Name'].astype(str)
print(data.dtypes)

ID          object
Name        object
Age         object
Email       object
JoinDate    object
 Salary     object
dtype: object

In [34]:
#duplicates
duplicates = data.duplicated()
data[duplicates]

data.drop_duplicates(inplace=True)